<a href="https://colab.research.google.com/github/manjeetsrivastava/data-analysis-of-sanfrancisco-employee-salaries/blob/main/data_analysis_on_sanfrancisco_employee_salary_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/Salaries.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.T

# 1. DISPLAY TOP 10 ROWS OF DATAFRAME

In [ ]:
df.head(10)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011
5,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011
6,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011
7,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011
8,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011
9,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011

# 2. CHECK THE LAST 10 ROWS OF THE DATABASE

In [ ]:
df.tail(10)

# 3. FIND SHAPE OF OUR DATASET

In [ ]:
df.shape
# here in output the first represents the number of rows and second repsresent the number of columns

(148654, 9)

# 4. GETTING INFORMATION ABOUT OUR DATASETS LIKE TOTAL NUMBER OF ROWS,TOTAL NUMBER OF COLUMNS,DATATYPE OF EACH COLUMN AND MEMEORY REQUIREMENT

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   JobTitle          148654 non-null  object
 2   BasePay           148049 non-null  object
 3   OvertimePay       148654 non-null  object
 4   OtherPay          148654 non-null  object
 5   Benefits          112495 non-null  object
 6   TotalPay          148654 non-null  float64
 7   TotalPayBenefits  148654 non-null  float64
 8   Year              148654 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 10.2+ MB

# 5.CHECK NULL VALUES IN THE DATASET

In [ ]:
df.isnull().sum()
# isnull() returns boolean value(true/false) whereas isnull.sum() returns the total no of nulll values in each column

EmployeeName            0
JobTitle                0
BasePay               605
OvertimePay             0
OtherPay                0
Benefits            36159
TotalPay                0
TotalPayBenefits        0
Year                    0
dtype: int64

# 6. DROP ID,NOTES,AGENCY AND STATUS COLUMNS

In [ ]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [ ]:
len(df.columns)

9

In [ ]:
df.drop(['Id','Notes','Agency','Status'],axis =1 , inplace = True)

KeyError: ignored

In [ ]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [ ]:
len(df.columns)

9

# 7. Get overall statistics about the dataframe

In [ ]:
df.describe(include = "all")
# df.describe() bydefault returns the statistics about the numerical data present in the dataset

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148654,148654,148049.0,148654.0,148654.0,112495.0,148654.000000,148654.000000,148654.000000
unique,110811,2159,109900.0,66555.0,84968.0,99635.0,NaN,NaN,NaN
top,Kevin Lee,Transit Operator,0.0,0.0,0.0,0.0,NaN,NaN,NaN
freq,13,7036,875.0,66103.0,35218.0,1053.0,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,74768.321972,93692.554811,2012.522643
std,NaN,NaN,NaN,NaN,NaN,NaN,50517.005274,62793.533483,1.117538
min,NaN,NaN,NaN,NaN,NaN,NaN,-618.130000,-618.130000,2011.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,36168.995000,44065.650000,2012.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,71426.610000,92404.090000,2013.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,105839.135000,132876.450000,2014.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,567595.430000,567595.430000,2014.000000

# 8. FIND OCCURENCES OF EMPLOYEE NAME(TOP 5)

In [ ]:
df['EmployeeName'].value_counts().head(5)

Kevin Lee       13
Richard Lee     11
Steven Lee      11
William Wong    11
Stanley Lee      9
Name: EmployeeName, dtype: int64

# 9. FIND THE NUMBER OF UNIQUE JOB TITLES

In [ ]:
df['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [ ]:
df['JobTitle'].nunique( )

2159

# 10. TOTAL NUMBER OF JOB TITLES CONTAINS CAPTAIN

In [ ]:
df[df['JobTitle'].str.contains('Captain',case = False )]['JobTitle'].count()

552

# 11. DISPLAY ALL EMPLOYEES NAMES FROM THE FIRE DEPARTMENT

In [ ]:
empl =[]
empl = df[df['JobTitle'].str.contains('Fire DEpartment' , case = False)]['EmployeeName']
print(*empl ,sep = ",")
# here '*empl ' is used to print all the values of list .

PATRICK GARDNER,ALSON LEE,MICHAEL MORRIS,JOANNE HAYES-WHITE,ARTHUR KENNEY,DAVID FRANKLIN,MARTY ROSS,VICTOR WYRSCH,RAYMOND GUZMAN,MONICA FIELDS,JOSE VELO,BRENDAN WARD,MICHAEL THOMPSON,THOMAS ABBOTT,THOMAS SIRAGUSA,BRYAN RUBENSTEIN,KEN YEE,KIRK RICHARDSON,KENNETH SMITH,CHARLES CRANE,ROBERT POSTEL,RICHARD BUSALACCHI,KEVIN BURKE,EDUARDO GONZALEZ,ROBERT WINSLOW,LORRIE KALOS,MICHAEL BRYANT,MARK GONZALES,REX HALE,KEVIN SMITH,KEVIN TAYLOR,ERIKA HOO,SAMSON LAI,KHAIRUL ALI,JOHN HICKEY,EDWARD CHU,ZACHARY PUMPHREY,MARK CASTAGNOLA,LUIS IBARRA-RIVERA,MICHAEL KEARNEY,MATTHEW MCNAUGHTON,GEORGE LYSENKO,ALBERTO PEDRUCO,DWAYNE CURRY,DENNIS SUTTER,ROBERT SERRANO,JAMES VANNUCCHI,CANTREZ TRIPLETT,RYAN KENNEDY,JOHN ROCCO,EDMUND VAIL,ANDREW SAITZ,BERGLIOTH MATHEWS,PABLO SIGUENZA,DANIEL YONTS,DAVID THOMPSON,JAMES BLAKE,RYAN CREAN,RUDY CASTELLANOS,MICHAEL GONZALES,ROBERT LOPEZ,JOHN MURPHY,KENNETH CORDERO,JIM HALL III,MARK JOHNSON,BRENDAN MCGORRIN,WILLIAM MCFARLAND,RAEMONA WILLIAMS,JEFFREY BARDEN,MATTHEW CANNON,RICHARD UNTALAN,DENNIS O'NEILL,FLOYD ROLLINS,THOMAS KOHMANN,RAUL FRANCISCO,ALAN REYNAUD,DENISE NEWMAN,JOHN CREMEN,FRANK KOSTA,FRANK HSIEH,MATTHEW HUTCHINSON,DAVID BROWN,VINCENT NOLAN,CHERISH MURDOCK,LARS ASPELIN,JORGE PLATA,ANESTO ESTRELLA,KENNETH HUPKE,RONALD LEWIN,JOSEPH SCHIEBOLD,CHRISTINE EMMONS,DONALD GOGGIN,ANTHONY BENDIK,NORMAN CABA,SEAN MCKINNEY,ERNEST CARRILLO,MATTHEW SCHWARTZ,ALEXANDER DOUGLAS JR,DUSTIN WINN,ERIC LEAL,DENNIS SULLIVAN,PATRICK RABBITT,JOSEPH BARBERO,ANNE TAM,CHRISTOPHER MADSEN,JEANINE NICHOLSON,JAMES DRAPER,TERRY SMERDEL,CHARLES MC COY,RANDALL HIRO,LLOYD GOLDBERG,AISHA KRIEGER,CHASE WILSON,TYSON YEE,ALLEN WONG,BRIAN WALSH,PAUL O'KANE,PAUL MCDONAGH,JANEEN PIROSKO,ROBERT ARZAVE,RUBEN MONTERO,DAVID MURRAY,KAREN HEALD,GERALD SCULLION,JENNIFER MATHEWS,DARIUS LUTTROPP,NEAL CAVELLINI,JIRO YAMAMOTO,JOEL SATO,KYLE MERKINS,JEFFREY WONG,DOMINIC OTTOBONI,ANGELA ROMERO,JOHN GRANT,DAVID RITTER,WALTER VILLAVICENCIO,KEVIN PARDINI,MARC KASPER,JOE CHAN,CRISTEO REYES,MICHAEL MALONEY,DAVID SMILEY,ETHAN JACKSON,MICHAEL CHARLTON,PATRICK D'ARCY,LAWRENCE CONRAD,MICHAEL BARRY,STEPHEN CASSIDY,ROBERT KISHI,TIMOTHY FARMER,BRICE PEOPLES,DAWN DEWITT,HEATHER PIPER,MARC EVANS,AARON STEVENSON,EUGENE ADAMS,CATHERINE EMMONS-SAMSON,BRENT STUCKERT,KENNETH JONES,MICHAEL DUNCAN,MATTHEW LEE,ANTHONY RIVERA,ANSON WU,HERMAN WOO,THERESA WOLOWIC,PETER GROSS,JAMES REIDY,THERESA KWAN,ANTHONY SMERDEL,RICKY YEE,ERICA ARTESEROS,ROBERT TURNQUIST,SEAN MULLANE,WAYNE WONG,MICHAEL FUCCIOLO,KATHY AUSTIN,BROCK WELLS,KIMBERLY MC KEON,RAMON SERRANO,GREGORY BLATMAN,PATRICK SULLIVAN,SEAN JOHNSTON,KEVIN MC KEON,THOMAS OERTLI,CHRISTOPHER BENZ,JUSTIN BROWN,CYNTHIA RICKERT,CHADWICK ERTOLA,CECILIA JIANG,JOHN CHUNG,JOHN LOPES,ROBERT NEUNEKER,DANIEL GRIFFIN,SHIRLEY SZELA,KAREN KERR,STEPHEN MC PARTLAN,ROBERT MCDONALD,JAMES APP,ROBERT ZLATUNICH,FREDERICK PUTT,SHANE FRANCISCO,ALAN WONG,CLIFTON MERRILL,KENNETH LINNEY,ANTHONY GARIBALDI,MARK HARDEMAN,DAT TRUONG,DWAYNE NEWTON,ALISON YEE,LEONEL TINGIN,RONALD VANPOOL,LESLIE WONG,HELEN KIEFFER,ROBERT CAPPA,SETH RUBENSTEIN,PATRICIA LUI,PATRICK MARTINEZ,AUDRY LEE,VINCENT PEREZ,JENSEN RHODES,AARON STEVENSON,JAMES BARDEN,Joanne Hayes-White,Joanne M Hayes-White,Robert E Evans,Joanne M Hayes-White

#12. FIND MAXIMUM,MINIMUM AND AVERAGE OF BASEPAY

In [ ]:
df['BasePay'].mean()

TypeError: ignored

In [ ]:
df['BasePay'].max()

TypeError: ignored

In [ ]:
df['BasePay'].min()

-166.01

In [ ]:
df[df['BasePay']<0]['EmployeeName'].count()

11

# 13. REPLACE 'NOT PROVIDED' IN EMPLOYEE NAME WITH NAN

In [ ]:
df[df['EmployeeName'] == 'Not Provided'].count()

EmployeeName        2
JobTitle            2
BasePay             2
OvertimePay         2
OtherPay            2
Benefits            1
TotalPay            2
TotalPayBenefits    2
Year                2
dtype: int64

In [ ]:
for each in df['EmployeeName']:
 if df['EmployeeName']== 'Not Provided':
    df['EmployeeName'] = 'NAN'

ValueError: ignored

In [ ]:
df[df['EmployeeName'] == 'Not Provided'].count()

EmployeeName        2
JobTitle            2
BasePay             2
OvertimePay         2
OtherPay            2
Benefits            1
TotalPay            2
TotalPayBenefits    2
Year                2
dtype: int64

In [ ]:
df[df['EmployeeName'] == 'NAN']

Empty DataFrame
Columns: [EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

# 14. DROP THE ROWS HAVING MORE THAN 5 MISSING VALUES

In [ ]:
# MORE THAN 5 MISSING VALUES

# 15. FIND THE JOBTITLE OF 'ALBERT PARDINI'

In [ ]:
df[df['EmployeeName'] == 'ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

#16.HOW MUCH ALBERT PARDINI MAKE INCLUDES BENEFITS

In [ ]:
df.sample(5)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
122208,Wilfredo G Padaoan,Transit Operator,67265.16,25023.01,3103.93,35717.27,95392.10,131109.37,2014
148227,Cheryl D Kendrick,Morgue Attendant,514.50,0.00,0.00,0.00,514.50,514.50,2014
56248,Helene Campagnet,Registered Nurse,69199.51,0.0,2317.34,23334.7,71516.85,94851.55,2012
142460,Rico D Tiger,Public Service Trainee,13017.71,0.00,0.00,3423.00,13017.71,16440.71,2014
89395,Selvin Cabrera,Roofer,79136.0,218.85,750.0,29538.34,80104.85,109643.19,2013

In [ ]:
df[df['EmployeeName']=='ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

#17. DISPLAY THE NAME OF PERSON HAVING THE HIGHEST BASE PAY

In [ ]:
df['BasePay'].max()

TypeError: ignored

#21 Find the top five most common jobs

In [90]:
df["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64